<app-admin style="z-index: 10; position: absolute"></app-admin>

<div
  class="contentAdmin container"
  style="position: absolute; margin-right: 0; z-index: 1"
>
<h2>Katıldığım Etkinlikler</h2>
  <table class="table table-striped table-centered mb-0">
   
    <thead>
      <tr>
        <th>Id</th>
        <th>Katılımcı</th>
        <th>Etkinlik Adı</th>
        <!-- <th>Etkinlik Kategorisi</th>    -->
        <th>Başlangıç Tarihi</th>
        <th>Bitiş Tarihi</th>
        <th>Durum</th>
        <th>Organizator</th>
        <th>Limit</th>
        <th>Vazgeç</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of myEvents">
        <td>{{ item.id }}</td>
        <td>{{ item.user?.fullName }}</td>
        <td>{{ item.event?.title }}</td>
        <!-- <td>{{item.event?.category?.categoryName}}</td>         -->
        <td>{{ item.event?.startDate }}</td>
        <td>{{ item.event?.finishDate }}</td>
        <td>{{ item.event?.isActive }}</td>
        <td>{{ item.event?.creator?.fullName }}</td>
        <td>{{ item.event?.limit }}</td>

        <td>
          <a
            style="cursor: pointer"
            (click)="cancelParticipant(item.id)"
            class="btn btn-sm bg-danger text-white ml-2"
            >Katılmaktan Vazgeç</a
          >
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <button (click)="openModal()" class="btn btn-success" *ngIf="currentUser?.userType==1">
    Etkinlik oluştur
  </button>
  <br>
  <br>
  <h2>Oluşturduğum Etkinlikler</h2>
  <table class="table table-striped table-centered mb-0">
    
    <thead>
      <tr>
        <th>Id</th>
        <th>Etkinlik Adı</th>
        <!-- <th>Etkinlik Kategorisi</th>    -->
        <th>Başlangıç Tarihi</th>
        <th>Bitiş Tarihi</th>
        <th>Durum</th>
        <th>Organizator</th>
        <th>Limit</th>
        <th>Düzenle</th>
        <th>Sil</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of myAttendentEvents">
        <td>{{ item.id }}</td>
        <td>{{ item.title}}</td>
        
        <!-- <td>{{item.event?.category?.categoryName}}</td>         -->
        <td>{{ item.startDate}}</td>
        <td>{{ item.finishDate }}</td>
        <td>{{ item.isActive }}</td>
        <td>{{ item.creator?.fullName }}</td>
        <td>{{ item.limit }}</td>
        <td ><a class="btn btn-sm bg-warning text-white ml-2">Edit</a></td>

        <td>
          <a
            style="cursor: pointer"
            (click)="cancelParticipant(item.id)"
            class="btn btn-sm bg-danger text-white ml-2"
            >Sil</a
          >
        </td>
        
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-container" *ngIf="showModal&&currentUser?.userType==1">
  <div class="modal-content">
    <h2>Etkinlik Oluştur</h2>
    <div>
      <form>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="form-group">
              <label>Başlık:</label>
              <input
                [(ngModel)]="eventRequest!.title"
                [ngModelOptions]="{ standalone: true }"
                type="text"
                class="form-control"
                name="title"
                required
              />
            </div>
            <div class="form-group">
              <label>Limit:</label>
              <input
                [(ngModel)]="eventRequest!.limit"
                [ngModelOptions]="{ standalone: true }"
                type="number"
                class="form-control"
                name="limit"
                required
              />
            </div>
            <div class="form-group">
              <label>Açıklama:</label>
              <input
                [(ngModel)]="eventRequest!.description"
                [ngModelOptions]="{ standalone: true }"
                type="text"
                class="form-control"
                name="fullName"
                required
              />
            </div>
            <div class="form-group">
              <label>Başlama Tarihi</label>
              <input
                [(ngModel)]="eventRequest!.startDate"
                [ngModelOptions]="{ standalone: true }"
                type="datetime"
                class="form-control"
                name="startDate"
                required
              />
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="form-group">
              <label>Bitiş Tarihi</label>
              <input
                [(ngModel)]="eventRequest!.finishDate"
                [ngModelOptions]="{ standalone: true }"
                type="datetime"
                class="form-control"
                name="finishDate"
                required
              />
            </div>

            <div class="form-group">
              <label for="comboBox">Kategori:</label>
              <select
                class="form-control"
                id="categoryOptions"
                (click)="categorySelectedItem()"
              >
                <option value="0" disabled selected>Kategori Seçiniz..</option>
                <option
                  *ngFor="let item of allCategories"
                  value="{{ item.id }}"
                >
                  {{ item.categoryName }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="register-profile-picture">Profil Resmi Yükle:</label>
              <input
                (change)="onImageSelect($event)"
                type="file"
                class="form-control-file"
                id="register-profile-picture"
                name="ImagePath"
              />
            </div>
          </div>
        </div>

        <button (click)="createEvent()" class="btn btn-primary">
          Etkinlik Oluştur
        </button>
      </form>
    </div>
    <!-- Kullanıcı bilgileri formu burada yer alabilir -->
    <button (click)="closeModal()">Kapat</button>
      
  </div>
</div>
