<app-navbar></app-navbar>
<style>
    /* Özel CSS stillemeleri */
    .custom-bg {
        background-color: #f8f9fa; /* Arkaplan rengi */
        border-radius: 10px; /* Kenar yuvarlama */
        padding: 30px; /* İçerik aralığı */
    }

    /* Resimlerin yuvarlak köşeleri */
    .img-rounded {
        border-radius: 20%;
    }
     /* Resmin büyümesi */
     .img-container img {
        transition: transform 0.3s ease-in-out;
    }

    /* Resmin büyümesi:hover */
    .img-container:hover img {
        transform: scale(1.2);
    }
    .overflow-hidden {
        overflow: hidden;
    }
</style>
<!--<app-slider [imagePath]="'/assets/images/hero_1.jpg'" [title]="'About Us'" [text]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt ab doloremque a quia laboriosam suscipit, iure illum perspiciatis!'"></app-slider>-->
<!-- İlk Konu -->
<div class="container mt-5 custom-bg">
    <div class="row">
        <div class="col-md-6 order-md-2">
            <img src="https://www.ikv.org.tr/images/images/Sahiltemizleme_1(1).png" alt="Konu 1 Resmi"  class="img-fluid mx-auto img-rounded">
        </div>
        <div class="col-md-6 order-md-1">
            <h2>Biz Kimiz?</h2>
            <p>Eylül 2023'te, bir elin nesi var, iki elin sesi var ilkesiyle yola çıkan bir grup yardımsever insan olarak, daha iyi bir dünya için bir araya geldik. Biz, toplumumuzu, çevremizi ve dünyayı daha iyi bir yer haline getirmek için güç birliği yapmayı amaçlayan bir topluluğuz...</p>
        </div>
    </div>
</div>

<!-- İkinci Konu -->
<div class="container mt-5 custom-bg">
    <div class="row">
        <div class="col-md-6 order-md-1">
            <img src="http://www.aycephe.com/files/sayfalar/thumbs/trmisyonumuztr_7873.jpg" alt="Konu 2 Resmi" class="img-fluid img-rounded">
        </div>
        <div class="col-md-6 order-md-2">
            <h2>Misyonumuz</h2>
            <p>Misyonumuz, yardıma ihtiyacı olan insanlara ve doğal alanlara destek sağlamak, toplumsal sorumluluğumuzu yerine getirmek ve insanları bir araya getirerek daha güzel bir dünya yaratmaktır...</p>
        </div>
    </div>
</div>

<!-- Üçüncü Konu -->
<div class="container mt-5 custom-bg">
    <div class="row">
       
        <div class="col-md-6 order-md-2">
            <img src="https://yetimvakfi.org.tr/rsm/icerik/buyuk/idlip-rahmet-koyu-ziyareti_217.jpg" alt="Konu 3 Resmi" class="img-fluid img-rounded">
        </div>
   
        <div class="col-md-6 order-md-1">
            <h2>Ne Yapıyoruz?</h2>
            <p>Sitemiz, yardımseverlerin bulundukları veya gitmek istedikleri herhangi bir yerde, katılabilecekleri çeşitli etkinlikleri ve projeleri bulabilecekleri bir platform sunar. Üye olarak, siz de bu etkinliklere katılabilir ve diğer yardımseverlerle birlikte güzel işler yapabilirsiniz. Sitemiz, gönüllü çalışmaları kolaylaştırmak ve yardıma ihtiyacı olanlarla yardımseverleri bir araya getirmek için tasarlanmıştır...</p>
        </div>
    </div>
</div>

<!-- Nasıl Katılabilirsiniz? -->
<div class="container mt-5 custom-bg">
    <div class="row">
        <div class="col-md-6 order-md-1">
            <img src="https://picsum.photos/400/300" alt="Katılın Resmi" class="img-fluid img-rounded">
        </div>
        <div class="col-md-6 order-md-2">
            <h2>Nasıl Katılabilirsiniz?</h2>
            <p>Eğitim almak, gönüllü çalışmalara katılmak gibi çeşitli yollarla yardımsever bir topluluğun bir parçası olabilirsiniz.Daha fazla bilgi almak veya bize katılmak için aşağıdaki butonlara tıklayabilirsiniz</p>
            <p>Telefon: (123) 456-7890</p>
            <p>E-posta: info@yardimsitesi.com</p>
            
            <a href="/contact" class="btn btn-primary" style="margin-right: 2%;">İletişim</a>
            <a href="/login" class="btn btn-primary">Bize Katıl</a>
     
        </div>
       
    </div>
   
</div>

<!-- Bize Katılın -->
<div class="container mt-5 custom-bg">
    <div class="row">
        <div class="col-md-6 order-md-2">
            <img src="https://picsum.photos/400/300" alt="Bize Katılın Resmi" class="img-fluid img-rounded">
        </div>
        <div class="col-md-6 order-md-1">
            <h2>Bize Katılın</h2>
            <p>Bizimle birlikte daha iyi bir dünya inşa etmek için harekete geçmek istiyorsanız, aşağıdaki formu doldurarak veya bize e-posta göndererek bize katılabilirsiniz. Size daha fazla bilgi ve katılım yönergeleri sağlayacağız.</p>
            <form>
                <div class="form-group">
                    <label for="adSoyad">Adınız Soyadınız:</label>
                    <input type="text" class="form-control" id="adSoyad">
                </div>
                <div class="form-group">
                    <label for="email">E-posta Adresiniz:</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <button type="submit" class="btn btn-primary">Başvur</button>
            </form>
        </div>
    </div>
</div>
<app-our-mission></app-our-mission>
<app-our-team></app-our-team>
<app-latest-causes></app-latest-causes>

<app-slogan></app-slogan>
<app-footer></app-footer>
