
    <a class="postcard__img_link" style="cursor: pointer;" (click)="eventDetail(item.id)" *ngFor="let item of events">
        <article class="postcard {{cardColor}} mt-2">
         
            <img
              class="postcard__img"
              src="{{item.imagePath}}"
              alt="Image Title"
            />
         
          <div class="postcard__text t-dark">
            <h1 class="postcard__title blue"><a href="#">{{item.title}}</a></h1>
            <div class="row">
              <div class="col-6">
                <div class="postcard__subtitle small">
                    <i class="fas fa-calendar-alt mr-2"></i>{{item.startDate!.toString().substring(0,10)}}{{"  "}}{{item.startDate!.toString().substring(11,16)}}
                  
                </div>
                <div class="postcard__bar"></div>
              </div>
              <div class="col-6">
                <div class="postcard__subtitle small">
                  
                    <i class="fas fa-calendar-alt mr-2"></i>{{item.finishDate!.toString().substring(0,10)}}{{"  "}}{{item.startDate!.toString().substring(11,16)}}
                  
             
                </div>
                <div class="postcard__bar"></div>
              </div>
            </div>
            
            <div class="postcard__preview-txt">
             {{item.description}}
            </div>
         
             
                <ul class="postcard__tagbox">
              <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
              <li class="tag__item">
                <i class="fas fa-clock mr-2"></i>55 mins.
              </li>
              <li class="tag__item play blue">
                <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
              </li>
              
            </ul>
            
             
        
          </div>
          
        </article>
      </a>
       
 
