<app-admin></app-admin>
<!-- 
<div class="contentAdmin container" style="position: relative;">
  <table class="table table-striped table-centered mb-0">
    <thead>
      <tr>
        <th>Id</th>
        <th>Kategori</th>
        <th>Resim</th>
        <th>Başlık</th>
        <th>Tanım</th>
        <th>Başlangıç Tarihi</th>
        <th>Bitiş Tarihi</th>
        <th>Durum</th>
        <th>Organizator</th>
        <th>Limit</th>
        <th>Sil</th>
        <th>Güncelle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of events">
        <td>{{ item.id }}</td>
        <td>{{ findCategoryNameById(item.categoryId!)}}</td>
        <td>{{item.imagePath}}</td>
        <td>{{item.title}}</td>
        <td><p>{{ item.description?.substring(0,30) }}...</p></td>
        <td>{{ item.startDate }}</td>
        <td>{{ item.finishDate }}</td>
        <td>{{ item.isActive }}</td>
        <td>{{ item.creatorId }}</td>
        <td>{{ item.limit }}</td>
        <td>
          <a href="javascript: void(0);" class="btn btn-sm bg-danger text-white"
            >delete</a
          >
        </td>
        <td>
          <a
            href="javascript: void(0);"
            class="btn btn-sm bg-warning text-white ml-2"
            >edit</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div> -->

<div class="container eventsInfo">
  <a class="postcard__img_link" href="event-detail">
    <article class="postcard {{ cardColor }} mt-2">
      <img
        class="postcard__img"
        src="https://picsum.photos/1000/1000"
        alt="Image Title"
      />

      <div class="postcard__text t-dark" *ngFor="let event of events">
        <h1 class="postcard__title blue">
          <a href="#">{{ event.title }}</a>
        </h1>
        <div class="postcard__subtitle small">
          <time datetime="2020-05-25 12:00:00">
            <i class="fas fa-calendar-alt mr-2"></i>{{ event.startDate }}
          </time>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          {{ event.description }}
        </div>

        <ul class="postcard__tagbox">
          <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
          <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
          <li class="tag__item play blue">
            <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
          </li>
        </ul>
      </div>
      <div class="kalp"></div>
    </article>
  </a>
</div>
