<div class="sidebar">
  <div class="logo_content">
    <div class="logo">
      <i class="fa-solid fa-face-smile"></i>
      <div class="logo_name">PANEL</div>
    </div>
    <i class="fa-solid fa-bars" id="btn" (click)="sidebarActive()"></i>
  </div>
  <ul class="nav_list">
    <li>
      <i class="bx bx-search"></i>
      <input placeholder="Search..." />
      <span class="tooltip">Arama</span>
    </li>
    <li>
      <a href="/admin-allusers">
        <i class="fa-regular fa-user"></i>
        <span class="links_name">Kullanıcılar</span>
      </a>
      <span class="tooltip">Kullanıcılar</span>
    </li>

    <li>
      <a href="/admin-categories">
        <i class="fa-solid fa-list-check"></i>
        <span class="links_name">Kategoriler</span>
      </a>
      <span class="tooltip">Kategoriler</span>
    </li>
    <li>
      <a href="#">
        <i class="fa-solid fa-calendar-days"></i>
        <span class="links_name">Etkinlikler</span>
      </a>
      <span class="tooltip">Etkinlikler</span>
    </li>
    <li>
      <a href="#">
        <i class="fa-regular fa-comment"></i>
        <span class="links_name">Yorumlar</span>
      </a>
      <span class="tooltip">Yorumlar</span>
    </li>
    <li>
      <a href="#">
        <i class="fa-regular fa-heart"></i>
        <span class="links_name">Beğeniler</span>
      </a>
      <span class="tooltip">Beğeniler</span>
    </li>
    <li>
      <a href="#">
        <i class="fa-solid fa-person"></i>
        <span class="links_name">Katılımcılar</span>
      </a>
      <span class="tooltip">Katılımcılar</span>
    </li>

    <li>
      <a href="#">
        <i class="bx bx-cog"></i>
        <span class="links_name">Ayarlar</span>
      </a>
      <span class="tooltip">Ayarlar</span>
    </li>
  </ul>
  <div class="profile_content">
    <div class="profile">
      <div class="profile_details">
        <img
          src="https://media.licdn.com/dms/image/D4D03AQGI58RPGgpzqQ/profile-displayphoto-shrink_800_800/0/1692825806185?e=2147483647&v=beta&t=L64rSe1cnPTc6N_WKdMOnx0V8g2pKEf4eFqn28_GItc"
          alt=""
        />

        <div class="name_job">
          <div class="name">Tubanur Yazıcı</div>
          <div class="job">Admin</div>
        </div>
      </div>

      <a href="/home">
        <i class="bx bx-log-out" id="log_out"></i>
      </a>
    </div>
  </div>
</div>
